.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
button {
  border-radius: 3px;
  border: 1px solid #5e3e3e;
}
.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.is-done {
  opacity: 0.5;
}
.active-filter {
  background-color: aquamarine;
}